<link rel="stylesheet" href="/css/clientHeader.css">
<script  src="js/search.js" defer></script>
<header>
  <div class="header-left">
    <div class="logo">
      <a href="/index.html">
        <img src="/images/logo.png" alt="Логотип компанії">
      </a>
    </div>
    <a href="/cart">
      <button class="cart-button">Кошик</button>
    </a>
  </div>

  <div class="search-container">
    <input type="text" id="search-input" placeholder="Пошук...">
    <button class="search-button" id="search-button">&#128269;</button>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="/about">Про компанію</a></li>
      <li><a href="/catalog">Каталог</a></li>
      <li id="reviews-btn"><a href="/#reviews-section">Відгуки</a></li>

    </ul>
  </nav>
</header>

